<div class="product" *ngFor="let product of products">
    <div class="details">
        <div class="product-name">
            <h3>{{product.name}}</h3>
            <tui-money 
                currency="RD$" 
                [precision]="2" 
                decimal="always" 
                [value]="product.price"
            ></tui-money>
        </div>
        <div class="info">
            <p class="category">Category: <strong>{{product.category}}</strong></p>
            <p class="description">Description: <strong>{{product.description}}</strong></p>
            <p class="stock">Stock: <strong>{{product.stock}}</strong></p>
        </div>
    </div>
    <div class="actions">
        <button (click)="delete(product.id)">
            <tui-marker-icon size="s" mode="error" src="tuiIconTrash"></tui-marker-icon>
        </button>
        <button (click)="showDialog(product.id)">
            <tui-marker-icon size="s" src="tuiIconEdit2"></tui-marker-icon>
        </button>
    </div>
    <!-- modal to update product -->
    <ng-template
        let-observer
        [tuiDialogOptions]="{label: 'Updating product', size: 's'}"
        [(tuiDialog)]="open"
    >
        <form class="update-form" (ngSubmit)="edit(product.id)" [formGroup]="updateForm">
            <div class="inputs">
                <tui-input
                    tuiAutoFocus
                    formControlName="name"
                >
                    Name
                    <input
                        tuiTextfield
                        type="email"
                    />
                </tui-input>
                <tui-input
                    tuiAutoFocus
                    formControlName="description"
                >
                    Description
                </tui-input>
                <tui-input
                    tuiAutoFocus
                    formControlName="category"
                >
                    Category
                </tui-input>
                <tui-input
                    tuiAutoFocus
                    formControlName="price"
                >
                    Price
                    <input
                        tuiTextfield
                        inputmode="numeric"
                        [value]="product.price"
                    />
                </tui-input>
            </div>
            <button appearance="button" tuiButton  type="submit">Save changes</button>
        </form>
    </ng-template>
</div>