<div class="appbar">
    <div class="section">
        <h1>Items</h1>
    </div>
    <form class="actions" [formGroup]="form">
        <tui-input
            tuiTextfieldIcon="tuiIconSearchLarge"
            tuiHintContent="Buscar..."
            tuiHintDirection="bottom-left"
            formControlName="user"
        >
            Buscar
            <tui-data-list-wrapper
                *tuiDataList
                [items]="products | tuiFilterByInput"
            ></tui-data-list-wrapper>
        </tui-input>
        <button
            tuiIconButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            icon="tuiIconPlusLarge"
            (click)="showDialog()"
            appearance="button"
        ></button>
    </form>
</div>
<ng-template
    let-observer
    [tuiDialogOptions]="{label: 'Adding a Product', size: 's'}"
    [(tuiDialog)]="open"
>
    <form class="form" (ngSubmit)="add()" [formGroup]="productForm">
        <div class="inputs">
            <tui-input
                tuiAutoFocus
                formControlName="name"
            >
                Product name
            </tui-input>
            <tui-input
                tuiAutoFocus
                formControlName="description"
            >
                Description
            </tui-input>
            <tui-input
                tuiAutoFocus
                formControlName="category"
            >
                Category
            </tui-input>
            <tui-input
                tuiAutoFocus
                formControlName="stock"
            >
                Stock
                <input
                    tuiTextfield
                    inputmode="numeric"
                />
            </tui-input>
            <tui-input
                tuiAutoFocus
                formControlName="price"
            >
                Price
                <input
                    tuiTextfield
                    inputmode="numeric"
                />
            </tui-input>
        </div>
        <button appearance="button" tuiButton type="submit">Add</button>
    </form>
</ng-template>
